services/webapplications/StaffTracker/StaffTracker/Service References/ZipcodeServiceReference/ZipcodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZipcodeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50174/ZipcodeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50174/ZipcodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50174/ZipcodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZipcodeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZipcodeService_QueryZipcode_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryZipcode" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_QueryZipcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryZipcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_InsertZipcode_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertZipcode" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_InsertZipcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertZipcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_UpdateZipcode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateZipcode" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_UpdateZipcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateZipcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_DeleteZipcode_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZipcode" />
  </wsdl:message>
  <wsdl:message name="IZipcodeService_DeleteZipcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZipcodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IZipcodeService">
    <wsdl:operation name="QueryZipcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IZipcodeService/QueryZipcode" message="tns:IZipcodeService_QueryZipcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZipcodeService/QueryZipcodeResponse" message="tns:IZipcodeService_QueryZipcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertZipcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IZipcodeService/InsertZipcode" message="tns:IZipcodeService_InsertZipcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZipcodeService/InsertZipcodeResponse" message="tns:IZipcodeService_InsertZipcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateZipcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IZipcodeService/UpdateZipcode" message="tns:IZipcodeService_UpdateZipcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZipcodeService/UpdateZipcodeResponse" message="tns:IZipcodeService_UpdateZipcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteZipcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IZipcodeService/DeleteZipcode" message="tns:IZipcodeService_DeleteZipcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZipcodeService/DeleteZipcodeResponse" message="tns:IZipcodeService_DeleteZipcode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZipcodeService" type="tns:IZipcodeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryZipcode">
      <soap:operation soapAction="http://tempuri.org/IZipcodeService/QueryZipcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertZipcode">
      <soap:operation soapAction="http://tempuri.org/IZipcodeService/InsertZipcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateZipcode">
      <soap:operation soapAction="http://tempuri.org/IZipcodeService/UpdateZipcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteZipcode">
      <soap:operation soapAction="http://tempuri.org/IZipcodeService/DeleteZipcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZipcodeService">
    <wsdl:port name="BasicHttpBinding_IZipcodeService" binding="tns:BasicHttpBinding_IZipcodeService">
      <soap:address location="http://localhost:50174/ZipcodeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>