services/webapplications/StaffTracker/StaffTracker/Service References/RoomServiceReference/RoomService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoomService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoomKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
</xs:schema>