services/webapplications/StaffTracker/StaffTracker/Service References/RoomServiceReference/RoomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49302/RoomService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49302/RoomService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49302/RoomService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49302/RoomService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RoomService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomService_QueryAllRoomIdentifiers_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllRoomIdentifiers" />
  </wsdl:message>
  <wsdl:message name="IRoomService_QueryAllRoomIdentifiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllRoomIdentifiersResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_QueryRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_QueryRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_InsertRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_InsertRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_UpdateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_UpdateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="QueryAllRoomIdentifiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/QueryAllRoomIdentifiers" message="tns:IRoomService_QueryAllRoomIdentifiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/QueryAllRoomIdentifiersResponse" message="tns:IRoomService_QueryAllRoomIdentifiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/QueryRoom" message="tns:IRoomService_QueryRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/QueryRoomResponse" message="tns:IRoomService_QueryRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/InsertRoom" message="tns:IRoomService_InsertRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/InsertRoomResponse" message="tns:IRoomService_InsertRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/UpdateRoom" message="tns:IRoomService_UpdateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/UpdateRoomResponse" message="tns:IRoomService_UpdateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/DeleteRoom" message="tns:IRoomService_DeleteRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/DeleteRoomResponse" message="tns:IRoomService_DeleteRoom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomService" type="tns:IRoomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAllRoomIdentifiers">
      <soap:operation soapAction="http://tempuri.org/IRoomService/QueryAllRoomIdentifiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomService/QueryRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomService/InsertRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomService/UpdateRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomService/DeleteRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomService">
    <wsdl:port name="BasicHttpBinding_IRoomService" binding="tns:BasicHttpBinding_IRoomService">
      <soap:address location="http://localhost:49302/RoomService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>